 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.container{
	max-width: 1510px;
	margin: 0 auto;
}
.site-header{
	padding: 20px 0 30px;
	text-align: center;
}
.site-main .top-main{
	background: rgba(239, 239, 239, 1);
	padding: 38px 0;
}
.site-main .text-content{
	max-width: 972px;
	margin: 0 auto;
	text-align: center;
}
.site-main .text-content h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 21.09px;
	margin-bottom: 18px;
}
.site-main .text-content p{
	color: rgba(0, 0, 0, 1);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18.75px;

}
.row-ct{
	display: flex;
	justify-content: space-between;	
	padding-top: 40px;
	padding-bottom: 182px;
}
.row-ct .col-box{
	width: calc( (100% - 100px ) / 3);

}
.row-ct .col-box h3{
	font-size: 24px;
	line-height: 28.13px;
	font-weight: 700;
	margin-bottom: 18px;
}
.row-ct .col-box img{
	float: left;
	margin-right: 16px;
	margin-bottom: 3px;
}
.row-ct .col-box{
	font-size: 16px;
	line-height: 18.75px;
	font-weight: 400;
}
.site-footer{
	border-top:  1px solid #DEDEDE;
}
.site-footer .copyright{
	padding: 30px 0;
}



